<div id="video-grid"></div>
<script>
    const ROOM_ID = "<%= roomId %>";
    const USER_ID = "<%= userId %>";
</script>
<script src="/socket.io/socket.io.js" defer></script>
<script src="/javascripts/custom-socket.js" defer></script>