<div class="main-footer">
  <div class="row">
    <div class="col-md-4">
      <button type="button" class="btn btn-outline-secondary btn-lg" id="chat-button">
        Chat
      </button>
      <button type="button" class="btn btn-outline-secondary btn-lg" id="participants-button">
        Participants
      </button>
    </div>
    <div class="col-md-4" style="text-align: center;">
        <button type="button" class="btn btn-outline-secondary btn-lg" id="mute-button">
          <i class="fas fa-microphone"></i>
        </button>
        <button type="button" class="btn btn-outline-danger btn-lg"  id="unmute-button" style="display: none;">
          <i class="fas fa-microphone-slash"></i>
        </button>
        <button type="button" class="btn btn-outline-danger btn-lg" id="play-video-button" style="display: none;">
          <i class="fas fa-video-slash"></i>
        </button>
        <button type="button" class="btn btn-outline-secondary btn-lg" id="stop-video-button">
          <i class="fas fa-video"></i>
        </button>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-outline-secondary btn-lg" id="present-screen-button">
          Present screen
        </button>
        <button type="button" class="btn btn-outline-danger btn-lg" id="stop-screen-button">
          Stop Presenting
        </button>
    </div>
  </div>
</div>