<div class="" id="chat">
   <div class="" style="display: flex;justify-content: center;">
      <h6>Chat</h6>
   </div>
   <div class="" id="chat-div">
      <ul class="messages" id="message-window"></ul>
   </div>
   <div class="">
      <input id="input-message" type="text" placeholder="Type message here...">
   </div>
</div>

<div id="participants" style="display: none;">
   <div class="" style="display: flex;justify-content: center;">
      <h6>Participants</h6>
   </div>
   <ul id="participants-list"></ul>
</div>
